@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
  }
  * {
    box-sizing: border-box;
  }
  .header {
    border: 1px solid rgb(0, 204, 255);
  }
  .main {
    border: 1px solid red;
  }
  .footer {
    border: 1px solid red;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    background-color: #a2f3f3;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container1 {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container2 {
    max-width: 1440px;
    margin: 0 auto;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    background-color: #f3c2a2;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    background-color: #a2f3f3;
  }
  .container3 {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }